html,
body {
    
    font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
html {
    
 
  background-image: url('/static/png/pacient_tech.jpg');
 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
