<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Médico / Mapa General</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  </head>
  <body>
<section class="hero">
            <div class="hero-head">
                <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
                    <div class="navbar-brand">
                    
                        <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px;" >
                    
                        <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </div>
                    </div>
                
                    <div id="navbarExample" class="navbar-menu">
                        <div class="navbar-start">
                          <a class="navbar-item has-text-weight-bold" href="{{ url_for('index') }}">
                            Home
                          </a>
                        </div>
                    </div>   

                    <div class="navbar-end">
                      <div class="navbar-item">
                        <div class="buttons">
                          <a class="button is-primary"  href="{{url_for('auth.logout', rol=session['rol'])}}" style="background-color: #003399">
                            Log out
                          </a>
                        </div>
                      </div>
                    </div>
                </nav>
            </div>
            {% for cell in cedulas %}
            <input class="input" type="hidden" name="cedulas" id={{cell}}>
            {% endfor %}

            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column">
                            <div class="box">
                              
                                  <label class="label is is-size-3" >Mapa General</label>
                                  <div id="CovidMap" class="mapa"></div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>
  <script src="/static/js/delete.js"></script> 
  <script src="/static/js/mapageneral.js"></script>  
  </body>
</html>