<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://aldi.github.io/bulma-login-template/" />
    <title>Registro del ROL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/Style.css" />
  </head>
  <body>
    <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
        <div class="navbar-brand">
            <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px" href="Principal.html" >
          
          <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </div>
        </div>
      
        <div id="navbarExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item has-text-weight-bold" href="{{ url_for('index') }}">
                Home
              </a>
            <a class="navbar-item has-text-weight-bold" href="{{ url_for('admin') }}">
              Admin
            </a>
            <a class="navbar-item has-text-weight-bold" href="{{ url_for('medico') }}">
                Médico
            </a>
            <a class="navbar-item has-text-weight-bold" href="{{ url_for('ayudante') }}">
                Ayudante
            </a>
        </div>
      </nav>


      <section class="hero is-halfheight">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
              <div class="box">
                <p class="subtitle is-4">Please enter the data.</p>
                <br />
                <form action="{{ url_for('admin_.signup_')}}" method="POST" autocomplete="off">
                      <div class="field is-horizontal">
                          <div class="field-label is-normal">
                              <label class="label"> Name</label>
                              
                          </div>
                          <div class="field-body">
                              <div class="field">
                                  <p class="control is-expanded has-icons-left">
                                  <input class="input is-medium" type="text" name="name" placeholder="" id="name" required>
                                  <span class="icon is-small is-left">
                                      <i class="fas fa-user"></i>
                                  </span>
                                  </p>
                  
                              </div>
                          </div>
                      </div>
                      <div class="field is-horizontal">
                          <div class="field-label is-normal">
                              <label class="label">Last Name</label>
                          </div>
                          <div class="field-body">
                              <div class="field">
                                  <p class="control is-expanded has-icons-left">
                                  <input class="input is-medium" type="text" name="lname" placeholder="" id="lname" required>
                                  <span class="icon is-small is-left">
                                      <i class="fas fa-user"></i>
                                  </span>
                                  </p>
                  
                              </div>
                          </div>
                      </div>
                      <div class="field is-horizontal">
                          <div class="field-label is-normal">
                              <label class="label">ID</label>
                          </div>
                          <div class="field-body">
                              <div class="field">
                                  <p class="control has-icons-left">
                                      <input class="input is-medium" type="text" name="cc" placeholder="" id="cc" required>
                                      <span class="icon is-small is-left">
                                      <i class="fas fa-address-card"></i>
                                      </span>
                                  </p>
                              </div>
                          </div>
                      </div>
  
                    
                          <div class="field is-horizontal">
                              <div class="field-label">
                              <label class="label">ROL</label>
                              </div>
                              <div class="field-body">
                              <div class="field is-narrow">
                                  <div class="control">
                                  <label class="radio">
                                      <input type="radio" id="rol" name="rol" value="2"  required >
                                      Médico
                                  </label>
                                  <label class="radio">
                                      <input type="radio" id="rol" name="rol" value="1" required >
                                      Ayudante
                                  </label>
                                  <label class="radio">
                                    <input type="radio" id="rol" name="rol" value="3" required >
                                    Administrador
                                </label>
                                  </div>
                              </div>
                              </div>
                          </div>
  
                          <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                  <label class="label">User</label>
                              </div>
                              <div class="field-body">
                                  <div class="field">
                                      <p class="control has-icons-left">
                                            <input class="input is-medium" type="text" name="user" placeholder="" id="user" required>
                                          <span class="icon is-small is-left">
                                          <i class="fas fa-user"></i>
                                          </span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                  <label class="label">Password</label>
                              </div>
                              <div class="field-body">
                                  <div class="field">
                                      <p class="control has-icons-left">
                                        <input class="input is-medium" type="password" name="password" placeholder="Password" id="password" required>
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-lock"></i>
                                          </span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <i class="fas fa-eye" id="pw"></i>
  
                        <p class="control">
                        <div class="msg">{{ msg }}</div>
                        <input type="submit" value="Register" class="button has-text-weight-bold has-text-white is-large is-fullwidth" style="background-color: #003399" onclick="selecciocnarRol()">
                        </p><br />
                          
                      
                </form>
                <div class="link">¿Estás registado?<a href="{{url_for('auth.logout', rol=session['rol'])}}" style="color: #003399"> Cerrar Session</a></div>
              </div>
                  <!--
                  <div class="languages select is-small is-rounded">
                  <select>
                      <option selected>English</option>
                      <option>French</option>
                      <option>German</option>
                      <option>Italian</option>
                  </select>
                  </div>-->
            </div>
          </div>
        </div>
    
      <div class="hero-foot">
        <div class="container has-text-centered">
            <p class="footer-text">
                <a  style="color:black;">Designed<!--<i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i>-->
                by Sebastian Romero, Daritza Teherán, Diana Martínez, Natalia Castillo</a>
            </p>
        </div>
     </div>
    </section>

    <script src="../static/js/password_hide.js"></script>
    <script>
        function delete_space() {
            document.getElementById('username').value = document.getElementById('username').value.replace(/\s/g, '');
        };
    </script>

    <script>
            document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

        });
    });
    }

    });

    function rol_(){
        
        var rol = 0;
        if(document.getElementById('medico').checked){
            rol = 2;
            console.log(rol)
        }
        if(document.getElementById('ayudante').checked){
            rol = 1;
            console.log(rol)
        }
    }


    // metodo de javascript, para hacer peticiones a una url
    const httpH = new XMLHttpRequest() 
    httpH.open('GET', "/admin/register?rol=" + rol)
    httpH.onreadystatechange = function () {
        if (httpH.readyState == 4 && httpH.status == 200) {
            
        
        }
        else {
            //console.log("Ready state", httpH.readyState);
            //console.log("Ready status", httpH.status);
        }


    }
    
    httpH.send(null);

   
    </script>
  </body>
</html>