<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covidlla</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/Style2.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>

  <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
    <div class="navbar-brand">
      
        <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px;" >
      
      <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
  
    <div id="navbarExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold" href="{{ url_for('auth.login_') }}">
          Login
       </a>
    </div>
  </nav>
  <section>
    <div class="hero-body">
      <div class="container">
          <div class="columns">
              <div class="column">
                  <div class="box">
                        <label class="label is is-size-3" >Casos registrados y muertes</label>
                        <div>
                          <canvas id="lineChart" width="1300" height="400"></canvas>
                        </div>

                        <div>
                          <canvas id="lineChart2" width="1300" height="400"></canvas>
                        </div>
                       
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                  <label class="label is is-size-3" >Casos totales</label>
                  <div>
                    <canvas id="pie" width="400" height="400"></canvas>
                  </div>
                </div>  
            </div>
            <div class="column">
                <div class="box">
                  <label class="label is is-size-3" >Infectados</label>
                  <div>
                    <canvas id="pie2" width="400" height="400"></canvas>
                  </div>
                  
                </div>
            </div>
            <div class="column">
              <div class="box">
                <label class="label is is-size-3" >Resultados</label>
                  <div>
                    <canvas id="pie3" width="400" height="400"></canvas>
                  </div>
                  
              </div>  
          </div>
          </div>
    </div>
  </div>
    <div class="hero-foot">
      <div class="container has-text-centered">
          <p class="footer-text">
              <a  style="color:black;">Designed<!--<i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i>-->
              by Sebastian Romero, Daritza Teherán, Diana Martínez, Natalia Castillo</a>
          </p>
      </div>
   </div>
</section>
<script src="../static/js/delete.js"></script>

<script>
  const http = new XMLHttpRequest() // metodo de javascript, para hacer peticiones a una url
      http.open('GET', "/api/data")
      http.onreadystatechange = () => {
          if (http.readyState == 4 && http.status == 200) {
              var coords = JSON.parse(http.responseText);
              console.log(coords[0])

              var algo = document.getElementById("lineChart").getContext("2d");
              var lineChart = new Chart(algo, {

                type: "line",
                data:{
                  labels: coords[0],
                  datasets: [
                  {
                  label: "Infectados",
                  data: coords[1],
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
                  },
                  
                ]
                }, 
                options: {
                  responsive: false
                }})
                

                var algo = document.getElementById("lineChart2").getContext("2d");
                var lineChart = new Chart(algo, {

                  type: "line",
                  data:{
                    labels: coords[2],
                    datasets: [
                    {
                    label: "Muertes",
                    data: coords[3],
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.1
                    },
                    
                  ]
                  }, 
                  options: {
                    responsive: false
                  }})

                var algo = document.getElementById("pie").getContext("2d");
                var pie = new Chart(algo, {
              
                  type: "pie",
                  data:{
                    labels: [
                      'Infectados',
                      'Muertes',
                      'Curados'
                    ],
                    datasets: [{
                      label: 'My First Dataset',
                      data: [coords[4],coords[6], coords[5]],
                      backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                      ],
                      hoverOffset: 4
                    }]
                  }, 
                  options: {
                    responsive: false
                  }
                })

                var algo = document.getElementById("pie2").getContext("2d");
                var pie2 = new Chart(algo, {
              
                  type: "pie",
                  data:{
                    labels: [
                      'Tratamiento en casa',
                      'Tratamiento Hospital',
                      'UCI',
                      'Muertos'
                    ],
                    datasets: [{
                      label: 'My First Dataset',
                      data: [coords[12], coords[11], coords[10],coords[9]],
                      backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(51, 204, 51)'
                      ],
                      hoverOffset: 4
                    }]
                  }, 
                  options: {
                    responsive: false
                  }
                })

                var algo = document.getElementById("pie3").getContext("2d");
                var pie3 = new Chart(algo, {
              
                  type: "pie",
                  data:{
                    labels: [
                      'Positivos',
                      'Negativos'
                    ],
                    datasets: [{
                      label: 'Resultados',
                      data: [coords[8],coords[7]],
                      backgroundColor: [
                         'rgb(255, 99, 132)',
                        'rgb(51, 204, 51)',
                      ],
                      hoverOffset: 4
                    }]
                  }, 
                  options: {
                    responsive: false
                  }
                })

          } else {
              console.log("Ready state", http.readyState);
              console.log("Ready status", http.status);
          }
      }
      http.send(null);
</script>

</body>
</html>