<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covidlla</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/Style2.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>

  <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
    <div class="navbar-brand">
      
        <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px;" >
      
      <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
  
    <div id="navbarExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold" href="{{ url_for('auth.login_') }}">
          Login
       </a>
    </div>
  </nav>
  <section>

    <div>
      <canvas id="myChart"></canvas>
    </div>

    <div class="hero-foot">
      <div class="container has-text-centered">
          <p class="footer-text">
              <a  style="color:rgb(9, 199, 25);">Designed<!--<i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i>-->
              by Sebastian Romero, Daritza Teherán, Diana Martínez, Natalia Castillo</a>
          </p>
      </div>
   </div>
</section>
<script src="../static/js/delete.js"></script>

<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgb(163, 6, 6)',
                'rgb(9, 199, 25)',
                'rgb(163, 6, 6)',
                'rgb(9, 199, 25)',
                'rgb(9, 199, 25)',
                'rgb(9, 199, 25)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


</script>
  </body>
</html>