<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covidlla</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/Style2.css" />
  </head>
  <body>

  <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
    <div class="navbar-brand">
      
        <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px;" >
      
      <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>
  
    <div id="navbarExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-weight-bold" href="{{ url_for('auth.login_') }}">
          Login
       </a>
    </div>
  </nav>
  <section>
    <div class="hero-foot">
      <div class="container has-text-centered">
          <p class="footer-text">
              <a  style="color:black;">Designed<!--<i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i>-->
              by Sebastian Romero, Daritza Teherán, Diana Martínez, Natalia Castillo</a>
          </p>
      </div>
   </div>
</section>
<script src="../static/js/delete.js"></script>
  </body>
</html>