<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de casos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/style3.css" />
  </head>
  <body>
    
            <nav class="navbar navbar-default" style="background-color: #e6f9ff" role="navigation">
                <div class="navbar-brand">
                    <img src="/static/png/Logo2.png"  width="200" height="30" style="margin-left: 10px" >
                
                <div class="navbar-burger" aria-level="menu" aria-expanded="false" data-target="navbarExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
                </div>
            
                <div id="navbarExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item has-text-weight-bold" href="{{ url_for('index') }}">
                        Home
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary"  href="{{url_for('auth.logout', rol=session['rol'])}}" style="background-color: #003399">
                          Log out
                        </a>
                      </div>
                    </div>
                  </div>
            </nav>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <br>
            <div class="notification is-warning">
                <button class="delete" id="del"></button>
                    {{message}}
            </div>
            {% endfor  %}
            {% endif %}
            {% endwith %}

      <section class="hero ">
        <div class="hero-body">
        <form action="{{ url_for('helper.register')}}" method="POST" autocomplete="off">

          <div class="container has-text-centered">
                <div class="column is-8 is-offset-2">
                    <div class="box2">
                        <p class="subtitle is-4 has-text-weight-bold">New patient questionnaire COVID-19.</p>
                        <br />
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Full Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                    <input class="input" type="text" placeholder="Name" name="name" id="name" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    </p>
                    
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="text" placeholder="Last name" name="Lname" id="Lname" required>
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">ID</label>
                            </div>
                            
                            <div class="field-body">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="text" placeholder="CC" name="cc" id="cc" required>
                                        <span class="icon is-small is-left">
                                        <i class="fas fa-address-card"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field-label is-normal">
                                    <label class="label">Gender</label>
                                </div>
                               
                                <div class="field is-narrow">
                                    <div class="control has-icons-left">
                                        <div class="select is-fullwidth">
                                            <select name="gender" required>
                                                <option value=""></option>
                                                <option value="1">Female</option>
                                                <option value="2">Male</option>
                                                <option value="3">Another</option>
                                            </select>
                                        </div>
                                       <span class="icon is-small is-left">
                                        <i class="fas fa-venus-mars"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field-label is-normal">
                                    <label class="label">Birth</label>
                                </div>
                                <div class="field is-narrow" >
                                    <div class="control ">
                                        <input type="date" id="birth" name="birth" 
                                        value="2021-11-27"
                                        min="1920-01-01" max="2022-01-01">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Home Location</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    
                                    <input class="input" type="text" placeholder="" name="address" id="address" required>
                        
                                </div>
                               
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Job Location</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    
                                    <input class="input" type="text" placeholder="" name="jobaddress" id="jobaddress" required>
                        
                                </div>
                               
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                            <label class="label">Result</label>
                            </div>
                            <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                <label class="radio">
                                    <input type="radio" id="result" name="result" value="1"  required >
                            
                                    Positive
                                </label>
                                <label class="radio">
                                    <input type="radio" id="result" name="result" value="2"  required >
                                    Negative
                                </label>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                        <label class="label">Result Date</label>
                                </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                        <div class="control has-icons-left">
                                            <input type="date" id="result_date" name="result_date" 
                                             value="2021-11-27"
                                             min="2019-01-01" max="2022-01-01">
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="field is-horizontal">
                            <div class="field-label">
                            <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field is-centered">
                                    <div class="control" >
                                        <button class="button has-text-weight-bold has-text-white " style="background-color: #003399">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    

                    <div class="hero-foot">
                        <div class="container has-text-centered">
                            <p class="footer-text">
                                <a  style="color:black;"> <b>Designed</b><!--<i class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i>-->
                                <b>by Sebastian Romero, Daritza Teherán, Diana Martínez, Natalia Castillo</b></a>
                            </p>
                        </div>
                    </div>
    
</section>
<script src="../static/js/delete.js"></script>   
</body>
</html>